{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block contenido %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/styles.css' %}" />
<div class="container-fluid text-right mb-2">
    <form method="post" class="form-inline flex-row-reverse">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary mb-2 ml-2">Buscar</button>
        <input type="text" id="idCriterio" name="criterio" class="form-control mb-2 col-3" placeholder="Búsqueda" autofocus>
    </form>
</div>
{% if lista_desc %}
<div class="container-fluid">
<table class="table">
    <thead>
    <tr>
        <th scope="col">ORGANISMO</th>
        <th scope="col">MUNICIPIO</th>
        <th scope="col">REFERENCIA CATASTRAL</th>
        <th scope="col">TIPO</th>
        <th scope=""col>RESUELTO</th>
    </tr>
  </thead>
{% for desc in lista_desc %}
    <tr>
        <td>{{ desc.fk_muni.org.nombre }}</td>
        <td>{{ desc.fk_muni.nombre }}</td>
        <td>{{ desc.refcat }}</td>
        <td>{{ desc.tipo }}</td>
        {% if desc.resuelto == True %}
            <td><img src="{% static 'img/ok.svg' %}" width="25" height="25"></td>
        {% else %}
            <td><img src="{% static 'img/fail.svg' %}" width="25" height="25"></td>
        {% endif %}
    </tr>
{% endfor %}
</table>
</div>
{% else %}
{% endif %}
{% endblock %}