{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block contenido %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js" type="text/javascript"></script>
<div class="row justify-content-center">
    {% for organismo in organismos %}
    <div class="card ml-3 mb-2" style="width: 18rem;">
            <img id="img{{organismo.pk}}" class="card-img-top" src="{% static 'img/loading.svg' %}">
        <canvas class="card-img-top" id="Graf{{organismo.pk}}" width="400" height="400">

        </canvas>
        <form method="post">{% csrf_token %}</form>
        <div class="card-body">
            <h6 class="card-title">{{organismo.nombre}}</h6>
            <ul class="card-text">
                <li>Mod. Titular: <span id="mt{{organismo.pk}}">--</span></li>
                <li>Liquidaciones: <span id="liq{{organismo.pk}}">--</span></li>
                <li>Importe liquidado: <span id="i_liq{{organismo.pk}}">--</span></li>
                <li>IBI Desconocido: <span id="i_desc{{organismo.pk}}">--</span></li>
            </ul>
            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
        </div>
    </div>
    <script>
        $('#Graf{{organismo.pk}}').hide();
        $.ajax({
            type: "POST",
            url: "orgdatos",
            data: {
                pk: {{ organismo.pk }},
        csrfmiddlewaretoken: '{{ csrf_token }}'},

        success: function(json) {
                $('#mt{{organismo.pk}}').html(json["mt"]);
                $('#liq{{organismo.pk}}').html(json["liq"]);
                $('#i_liq{{organismo.pk}}').html(json["importe_liq"]+' €');
                $('#i_desc{{organismo.pk}}').html(json["pendiente"]+' €');
            var ctx{{organismo.pk}} = document.getElementById("Graf{{organismo.pk}}").getContext('2d');
            var myChart = new Chart(ctx{{organismo.pk}}, {
                type: 'doughnut',
                    data: {
                    datasets: [{
                        data: [json["investigacion"],json["ficticios"],json["candidatos"],json["resueltos"]],
                        backgroundColor: [
                            'rgba(255, 0, 0, 0.6)',
                            'rgba(252, 176, 0, 0.6)',
                            'rgba(255, 225, 0, 0.6)',
                            'rgba(143, 212, 0, 0.6)'
                        ],
                        borderColor:[
                            'rgba(255, 0, 0, 1)',
                            'rgba(252, 176, 0, 1)',
                            'rgba(255, 225, 0, 1)',
                            'rgba(143, 212, 0, 1)'
                        ]
                    }],

                        // Etiquetas
                        labels: [
                        'En investigación',
                        'Nif Ficticio',
                        'Candidatos',
                        'Resueltos'
                    ]

                },
            });
            console.log(json);
            console.log(json["resueltos"]);
            $('#img{{organismo.pk}}').hide();
            $('#Graf{{organismo.pk}}').show();
        },
        error: function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText);
        }
        });




/*var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});*/
</script>
    {% endfor %}



</div>

<!--<div class="container">-->
    <!--<canvas id="myChart" width="400" height="400"></canvas>-->
<!--</div>-->



<link rel="stylesheet" type="text/css" href="{% static 'polls/styles.css' %}" />
<div class="container-fluid text-right mb-2">
    <form method="get" class="form-inline flex-row-reverse">
        <button type="submit" class="btn btn-primary mb-2 ml-2">Buscar</button>
        <input type="text" id="idCriterio" name="q" class="form-control mb-2 col-3" placeholder="Búsqueda" value="{{q}}">
    </form>
</div>
{% if lista_desc %}
<div class="container-fluid">
<table class="table table-sm table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">ORGANISMO</th>
        <th scope="col">MUNICIPIO</th>
        <th scope="col">REFERENCIA CATASTRAL</th>
        <th scope="col">TIPO</th>
        <th scope="col">CUOTA IBI</th>
        <th scope=""col>RESUELTO</th>
    </tr>
  </thead>
{% for desc in lista_desc %}
    <tr>
        <td>{{forloop.counter0|add:lista_desc.start_index }}</td>
        <td>{{ desc.fk_muni.org.nombre }}</td>
        <td>{{ desc.fk_muni.nombre }}</td>
        <td><a href="{{desc.pk}}">{{ desc.refcat }}</a></td>
        <td>{{ desc.tipo }}</td>
        <td>{{ desc.getIbi }} €</td>
        {% if desc.resuelto == True %}
            <td><img src="{% static 'img/ok.svg' %}" width="25" height="25"></td>
        {% else %}
            <td><img src="{% static 'img/fail.svg' %}" width="25" height="25"></td>
        {% endif %}
    </tr>
{% endfor %}
</table>
</div>

<!--<div class="pagination">
    <span class="step-links">
        {% if lista_desc.has_previous %}
            <a href="?pag=1">&laquo; Primera</a>
            <a href="?pag={{ lista_desc.previous_page_number }}">anterior</a>
        {% endif %}

        <span class="current">
            Page {{ lista_desc.number }} of {{ lista_desc.paginator.num_pages }}.
        </span>

        {% if lista_desc.has_next %}
            <a href="?pag={{ lista_desc.next_page_number }}">siguiente</a>
            <a href="?pag={{ lista_desc.paginator.num_pages }}">Última &raquo;</a>
        {% endif %}
    </span>
</div>-->
<div class="container-fluid -mb-6">
    <nav>
        <ul class="pagination pagination-sm justify-content-center">
                {% if lista_desc.has_previous %}
                    <li class="page-item"><a class="page-link" href="?pag=1&q={{request.GET.q}}">Primera</a></li>
                    <li><a class="page-link" href="?pag={{ lista_desc.previous_page_number }}&q={{request.GET.q}}">Anterior</a></li>
                {% endif %}

                {% for i in paginas %}

                    <li {% if lista_desc.number == i %} class="page-item active" {% else %} class="page-item"{% endif %}><a class="page-link" href="?pag={{i}}&q={{request.GET.q}}">{{i}}</a></li>
                {% endfor %}

                {% if lista_desc.has_next %}
                    <li class="page-item"><a class="page-link" href="?pag={{ lista_desc.next_page_number }}&q={{request.GET.q}}">Siguiente</a></li>
                    <li class="page-item"><a class="page-link" href="?pag={{ lista_desc.paginator.num_pages }}&q={{request.GET.q}}">Última</a></li>
                {% endif %}
            </ul>
    </nav>
</div>
<div class="container-fluid text-center -mt-6">
    Mostrando {{inicio}} a {{final}} de {{total}}
</div>
{% else %}
{% endif %}
{% endblock %}