{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block contenido %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js" type="text/javascript"></script>
<div class="container clearfix">

    <div class="card">
        <div class="card-header justify-content-center">
            <h5 class="float-left mb-0 text-secondary">{{organismo.nombre}}</h5>
        </div>
        <div class="card-body">
            <h5>Desglose desconocidos</h5>
            <div class="row border rounded">
                <div class="col-4">
                    <canvas class="mb-2" id="Grafresultados" width="200" height="200"></canvas>
                </div>
                <div class="col">
                    <table class="table">
                        <tr>
                            <td></td>
                            <th scope="col">Desconocidos</th>
                            <th scope="col">% del total</th>
                        </tr>
                        <tr>
                            <th scope="row">Antieconómicos</th>
                            <td>{{antieconomicos}}</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
    <script>
        var ctxresultados = document.getElementById("Grafresultados").getContext('2d');
        var myChart = new Chart(ctxresultados, {
            type: 'pie',
            data: {
                datasets: [{
                    data: [{{antieconomicos}},{{rusticas}},{{solares}},{{investigables}}],
        backgroundColor: [
            'rgba(255, 0, 0, 0.6)',
            'rgba(252, 176, 0, 0.6)',
            'rgba(255, 225, 0, 0.6)',
            'rgba(143, 212, 0, 0.6)'
        ],
            borderColor: [
            'rgba(255, 0, 0, 1)',
            'rgba(252, 176, 0, 1)',
            'rgba(255, 225, 0, 1)',
            'rgba(143, 212, 0, 1)'
        ]
        }],
        // Etiquetas
        labels: [
            'Antieconómicos',
            'Rústicas sin construcción',
            'Solares urbana',
            'Investigables'
        ]},
        options: {
        title: {
            display: true,
            text: ''
        }
    }

        });
</script>
            {{desconocidos.count}}
            {{antieconomicos}}
            {{rusticas}}
            {{solares}}
            {{investigables}}
            </div>
        </div>
    </div>
</div>
{% endblock %}
