{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block contenido %}
<form id="formcarga" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
        <div class="form-row">
            <div class="col-8">
                {{form.titulo}}
            </div>
            <div class="col-2">
                {{form.fichero}}
                <label for="{{form.fichero.id_for_label}}" class="btn btn-outline-primary"><i class="far fa-folder-open"></i> Seleccionar fichero</label>
            </div>
            <div class="col-1 ml-1 text-right">
                <button id="btncargar" class="btn btn-primary" type="submit"><i class="fas fa-upload"></i> Cargar</button>
            </div>
        </div>
    </div>
</form>
{% if ficheros %}
<div class="container">
    <div class="progress" id="progreso" style="display: none;">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-gtt" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <table id="tabla_ficheros" class="table table-sm table-hover">
        <thead>
        <th></th>
        <th scope="col">Descripción del fichero</th>
        <th scope="col">Fichero</th>
        <th scope="col">Fecha de carga</th>
        <th></th>
        </thead>
{% for fichero in ficheros %}
    <tr>
        <td class="align-middle"><a class="texto-peq" data-toggle="tooltip" title="{{fichero.usuario.first_name}} {{fichero.usuario.last_name}}" data-placement="left"><i class="fas fa-user text-secondary"></i></a></td>
        <td width="40%" class="align-middle">{{fichero.titulo}}</td>
        <td width="20%" class="align-middle">{{fichero.nombre}}</td>
        <td width="20%" class="align-middle">{{fichero.fecha_subida}}</td>
        <td class="d-flex justify-content-end"><span class="borrafichero btn btn-danger btn-sm" fichero="{{fichero.id}}" nombre="{{fichero.nombre}}" descr="{{fichero.titulo}}"><i class="fas fa-trash text-white"></i></span>
          <a class="btn btn-primary btn-sm ml-1" href="/{{fichero.fichero.url}}" download><i class="fas fa-download text-white"></i></a>
        </td>
    </tr>
{% endfor %}
    </table>
</div>

{% endif %}

  <div class="container" id="tabla_cargados" style="display:none;">

  </div>
  &nbsp;
  &nbsp;
  <div class="container" id="tabla_finalizados" style="display:none;">

  </div>
  &nbsp;
  &nbsp;
  <div class="container" id="tabla_errores" style="display:none;">

  </div>



<div class="modal fade" id="confirmacion" tabindex="-1" role="dialog" aria-labelledby="confirmacion" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tituloModal"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalDatos">

      </div>
      <div class="modal-footer">
        <button type="button" id="eliminar" class="btn btn-danger" data-dismiss="modal">Eliminar</button>
        <button type="button" id="cancelar" class="btn btn-secondary">Cancelar</button>
      </div>
    </div>
  </div>
</div>


<script>
   'use strict';

;( function ( document, window, index )
{
	var inputs = document.querySelectorAll( '.cssfileinput' );
	Array.prototype.forEach.call( inputs, function( input )
	{
		var label	 = input.nextElementSibling,
			labelVal = label.innerHTML;

		input.addEventListener( 'change', function( e )
		{
			var fileName = '';
			if( this.files && this.files.length > 1 )
				fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
			else
				fileName = e.target.value.split( '\\' ).pop();

			if( fileName )
				label.innerHTML = fileName;
			else
				label.innerHTML = labelVal;
		});

		// Firefox bug fix
		input.addEventListener( 'focus', function(){ input.classList.add( 'has-focus' ); });
		input.addEventListener( 'blur', function(){ input.classList.remove( 'has-focus' ); });
	});
}( document, window, 0 ));

    $('#tabla_ficheros').on('click', '.borrafichero', function(event){
        var id = $(this).attr('fichero')
        $('#tituloModal').html('Eliminar fichero ' + $(this).attr('nombre'))
        $('#modalDatos').html('¿Está seguro de eliminar el siguiente fichero? <br><br> ' + $(this).attr('descr'))
        $('#confirmacion').modal('show');
        $('#eliminar').on('click', function() {
            borrar(id);
            });
        $('#cancelar').on('click', function() {
            $('#confirmacion').modal('hide');
            });
        console.log($(this).attr('fichero'));
    });

function borrar(pk) {
    console.log(pk)
    window.location.href="delfichero/" + pk
};

$('#formcarga').submit(function(){
    $('#progreso').show();
    var formData = new FormData($(this)[0]);
    $.ajax({
            url: 'subir',
            type: 'POST',
            data: formData,
            async: true,
            success: function (data) {
                $('#progreso').hide();
                $('#tabla_cargados').html(data.tabla_cargados);
                $('#tabla_errores').html(data.tabla_errores);
                $('#tabla_finalizados').html(data.tabla_finalizados);
                $('#tabla_cargados').show();
                $('#tabla_errores').show();
                $('#tabla_finalizados').show();
                console.log(data);
            },
            cache: false,
            contentType: false,
            processData: false
    });
    return false;
});


</script>
{% endblock %}
