{% extends 'auth.html' %}
{% load static %}

{% block titulo %}SegCat-gtt Login{% endblock %}

{% block cuerpo %}
<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
<body class="text-center">
<form class="form-signin" method="post" action="{% url 'polls:login' %}">
    {% csrf_token %}
    <img class="mb-4" src="{% static 'img/logo.jpg' %}" alt="" width="200" height="96">
    <h1 class="h3 mb-3 font-weight-normal colorgris">Iniciar sesión</h1>
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        Nombre de usuario y/o contraseña incorrectos
    </div>
    {% endif %}
    <label for="inputUser" class="sr-only">Usuario</label>
    <input type="text" id="inputUser" name="username" class="form-control" placeholder="Usuario" required autofocus>
    <label for="inputPassword" class="sr-only">Contraseña</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Contraseña" required>
    <input class="btn btn-sm btn-success" type="submit" value="Login"></input>
</form>
</body>
{% endblock %}