body {
    padding-top: 75px;
}

.nv-custom {

    /*background-color: rgb(143,212,0);*/
    background: -webkit-linear-gradient(top, #8fac00 1%,#8fd400 100%);
    -webkit-box-shadow: 1px -6px 14px 6px rgba(0,0,0,1);
    -moz-box-shadow: 1px -6px 14px 6px rgba(0,0,0,1);
    box-shadow: 1px -6px 14px 6px rgba(0,0,0,1);
}


/* change the brand and text color */
.nv-custom .navbar-brand {
    color: rgba(255, 255, 255, 0);
    font-weight: bold;
    font-family: Tahoma;
}
.nv-custom .navbar-text {
    color: rgba(255,255,255,.8);

}

/* change the link color */
.nv-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}

/* change the color of active or hovered links */
.nv-custom .nav-item.active .nav-link,
.nv-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

/* for dropdown only - change the color of droodown */
.nv-custom .dropdown-menu {
    background-color: #FFFFFF;
    border: 2px solid rgb(143,212,0);
}
.nv-custom .dropdown-item {
    border-color: rgb(143,212,0);
    color: #000000;
}
.nv-custom .dropdown-item:hover,
.nv-custom .dropdown-item:focus {
    color: #333333;
    background-color: rgba(143,212,0,.5);
}
